x = float(input('Введіть перше число: '))
y = float(input('Введіть друге число: '))
operation = input('Оберіть операцію: ')

result = None

if operation == '+':
    result = x + y
elif operation == '-':
    result = x - y
elif operation == '*':
    result = x * y
elif operation == '/':
    result = x / y
else:
    print('Упс, виберіть операцію) ')
if result is not None:
    print('Результат: ', result)
